#footer
  .container.text-center
    div
      | © 2014 Falling Asleep, Inc.
    div
      strong CodeShip
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/anas-ambri/CodeShip') GitHub Project
    div. Created by
    div 
      a(href='https://github.com/GabrielGhe') Gabriel Gheorghian
      |  - 
      a(href='https://twitter.com/AnasAmbri') Anas Ambri
      |  - 
      a(href='https://github.com/nicnhus22') Nicholas Husser
