extends layout

block content
    div#fb-root
    .editor-container.containers
        h2= title
        div#editor(ng-controller='UpdateCtrl')
    .chat-container.containers(ng-controller='ChatCtrl')

        h2 Chat [{{ verified_author }}]
        section#messages.clearfix
          .table-wrapper
            table.table
              tr(ng-repeat='message in messages')
                td.message-username.col-sm-2
                  span {{ message.author }}
                td.message-content.col-sm-10
                  .settings
                    .btn-group
                      button.btn.btn-link.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                        span.glyphicon.glyphicon-chevron-down
                      ul.dropdown-menu
                        li
                          a(href='#')
                            span.glyphicon.glyphicon-edit
                            | Edit
                        li
                          a(href='#')
                            span.glyphicon.glyphicon-trash
                            | Remove
                  | {{ message.content }}
        form.well.clearfix(role='form', ng-submit='sendMessage()')
          .row
            .chat-form-div
              .input-group.username(ng-hide='verified_author')
                span.input-group-addon
                  span.glyphicon.glyphicon-user
                input.input.form-control(ng-model='author', placeholder='Your Name')
            .chat-form-div
              textarea.input.form-control(ng-model='newMessage', ng-disabled='sendingMessage', placeholder='Say something')
            .chat-form-div
              button.btn.btn-primary.btn-block(type='submit') Send

    script(src='/js/lib/angular.js')
    != js('lib/bootstrap.min')
    != js('lib/platform')
    != js('lib/goangular')
    script(type='text/javascript').
        var id ='!{id}'
        var mode ='!{mode}'
        var local_data ='!{content}'
    <script src='/js/chat.js'></script>
    <script src='/js/updates.js'></script>
    .share-container.containers
        i(class="fa fa-envelope", id="email-submit")
        i(class="fa fa-facebook-square" id="text-submit")
        i(class="fa fa-github", id="facebook-submit")
        i(class="fa fa-google-plus-square", id="google-submit")
        //button.btn.btn-default.btn-share.btn-block#email-submit Via Email
        //button.btn.btn-default.btn-share.btn-block.btn-github#text-submit Via Github
        //button.btn.btn-default.btn-share.btn-block.btn-facebook#facebook-submit Via Facebook
        //button.btn.btn-default.btn-share.btn-block.btn-google-plus#google-submit Via Google+
        #emailModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='emailModal', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Share By Email
              .modal-body
                label Email
                input#share-email-input(text='email', placeholder='Email')
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary#email-submit-confirm(type='button') Send
