extends layout

block content
    // [BEGIN]: INNER_CONTENT 
    #inner_container
        #drop_area
            #drop_area_title(data-typer-targets="JUST LIKE THAT") DROP YOUR FILES HERE
    // [END]: INNER_CONTENT
